<div style="overflow-x:auto;">
    <div class="container">
        <div class="row">
            <div class="invoice-title col-md-12 text-center" style="display: inline-block; text-align: center">
                <h2><p class="text-center" style="text-align: center">INVOICE {{Date}}</p></h2>
            </div>
        </div>
        <div class="row">	
            <hr>
            <div class="col-md-2">
                <span id="warehouseLogo">
                    <img src="F:\Santosh\Personal\Project\spacevalet change\spacevalet new\spacevalet\static\home\dist\img\truck.jpg" width="180" height="150">
                </span>	
            </div>
            <div class="col-md-8">
                <strong><p class="text-center" style="text-align: center" id="warehouseName">{{WAREHOUSE_NAME}}</p>
                <p class="text-center" style="text-align: center" id="warehouseAdd">{{WAREHOUSE_EMAIL}}</p></strong>
            </div>
            <div class="col-md-2 text-right" style="text-align: right">
                <strong>Mob: </strong><span id="billToUserName">{{WAREHOUSE_MOB}}</span>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <address>
                    <strong>Billed To:</strong><br>
                        <span id="billToUserName">{{VENDOR_NAME}}<br> </span>
                        <span id="billToUserAddress">{{VENDOR_EMAIL}}</span>
                    </address>
                </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
                <div class="col-md-6 text-right" style="text-align: right">
                    <address>
                        <strong>Mob: </strong><span id="billToUserMobileNo">{{VENDOR_MOB}}</span><br>
                    </address>
                </div>
            </div>
        </div>
    </div>
    {{{TABLE}}}
  </div>